<div class="forcast w-[100%] h-[130px] flex items-center justify-evenly overflow-scroll gap-2">
    <div class="min-w-[100px] h-[100px] border-2 rounded-md bg-[#ffffff]"></div>
    <div class="min-w-[100px] h-[100px] border-2 rounded-md bg-[white]"></div>
    <div class="min-w-[100px] h-[100px] border-2 rounded-md bg-[white]"></div>
    <div class="min-w-[100px] h-[100px] border-2 rounded-md bg-[white]"></div>
    <div class="min-w-[100px] h-[100px] border-2 rounded-md bg-[white]"></div>
</div>
