<div class="w-full h-screen bg-[#ffffff] grid place-items-center" >
   <div class="w-[70%] h-[80%] bg-[#448ee371] flex flex-col items-center rounded-3xl" >
        <div class="flex  justify-around py-4 w-full items-center">
            <h1>PALAKKAD</h1>
            <input type="text" name="" id="" class="h-[40px] w-[280px]">
            <img src="/assets/avathar.png" alt="prof" class="h-[40px] rounded-full border-2">
        </div>
        <div class="border-2 flex justify-around mt-2 pb-10 w-[85%] bg-[#f4edff] pt-4">
            <div class="w-[150px] h-[150px] border-2 rounded-[10px]" style="background-image: linear-gradient(to right bottom, #5c6ce7, #6b7ce7, #d2d2d5);"
            >
                hhhh
            </div>
            <div class="border-2">
                <img src="/assets/weather-sun-cloud-rain-512.webp" alt="bjfsj" class="h-[150px]">
            </div>
        </div>
        <div class="w-[60%] h-[140px] rounded-xl bg-[#448ee371] translate-y-[-10%] flex justify-between items-center px-2">
            <div class="w-[100px] h-[100px] border-2 bg-[gray]"></div>
            <div class="w-[100px] h-[100px] border-2 bg-[gray]"></div>
            <div class="w-[100px] h-[100px] border-2 bg-[gray]"></div>
        </div>
        <h1 class=" w-[90%]">UPCOMINGFOURDAYS</h1>
        <div class=" w-[90%] h-[130px] flex items-center justify-evenly">
            <div class="w-[100px] h-[100px] border-2 rounded-md bg-[#ffffff]"></div>
            <div class="w-[100px] h-[100px] border-2 rounded-md bg-[white]"></div>
            <div class="w-[100px] h-[100px] border-2 rounded-md bg-[white]"></div>
            <div class="w-[100px] h-[100px] border-2 rounded-md bg-[white]"></div>
            <div class="w-[100px] h-[100px] border-2 rounded-md bg-[white]"></div>
        </div>
   </div>

</div>